TELEGRAM_BOT_TOKEN=123456789:replace_me
TELEGRAM_CHAT_ID=123456789
TELEGRAM_WEBHOOK_SECRET=change_this_secret
TELEGRAM_WEBHOOK_PORT=8787
TELEGRAM_SYMBOL_ALIAS=UT100M6
TELEGRAM_SYMBOL_ALIASES=BLACKBULL:USTEC.F=UT100M6,VANTAGE:GER40FT=GER40
TELEGRAM_ALLOWED_SYMBOLS=UT100M6,BLACKBULL:USTEC.F,GER40,VANTAGE:GER40FT
TELEGRAM_ENTRY_RANGE_PIPS=5
TELEGRAM_SL_PIPS=15
TELEGRAM_TP1_PIPS=30
TELEGRAM_TP2_PIPS=50
TELEGRAM_ROUND_PRICES=true
